* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.topContainer {
    background-color: #f3eadf;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.title {
    font-family: monospace;
    color: #27374D;
    font-weight: 900;
    font-size: 48px;
}

.topContainer ul {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.topContainer li {
    list-style: none;
    font-family: monospace;
    font-size: 18px;
    color: #526D82;
    font-weight: 900;
    text-shadow: 0 0 1px rgb(255, 255, 255);
    text-align: center;
}

.emph-w {
    color: #FF0060;
}

.emph-s {
    color: #116A7B;
}

.container {
    display: flex;
    flex-wrap: wrap;
    height: 464px;
    width: 720px;
    box-shadow: 0 0 15px rgba(40, 40, 40, 0.864);
}

#reset-button {
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    border: none;
    border-radius: 4px;
    background-color: #116A7B;
    color: #fff; 
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.5); /* Add a subtle box shadow */
    transition: background-color 0.5s ease;
}

#reset-button:hover {
    background-color: #27374D; /* Change background color on hover */
}

.container > div {
    height: 2%;
    width: 2%;
    position: relative;
    border: 1px solid #f0f0f0; /* Set border width and color */
    border-radius: 10%; /* Apply rounded corners */
    box-shadow: 0 1px 1px rgb(48, 48, 48);
}

.minibox {
    width: 50px;
    height: 50px;
    background-color: #116A7B;
    border: 1px solid black;
}

.filled {
    background-color: #FF0060
}

.author {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
}

.author p {
    font-family: monospace;
    font-size: 16px;
    color: #27374D;
}

    .github-icon {
        background-image: url(img/github.png);
        background-size: contain;
        background-repeat: no-repeat;
        height: 36px;
        width: 34px;
        color: black;
    }
  
  